*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{

	color: white;
}
aside a {
	color: black;
}
nav{
	height: 200px;
	background: green;
	display: flex;
	justify-content: space-around;
	align-items: center;

	flex-direction: row;
}
aside{
	border: 5px solid green;
	border-radius: 10%;
	margin-top:15px ;
	background: blue;
	padding: 10px;
	width: 25%;
}
main{
	width: 70%;
}
.container{
	display: flex;
	justify-content: space-around;
	width: 100%;
}