* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{

}

body{
	background: url("bg.jpg");
	background-size: 50%;
	font-size: 16px;
}
.container{
	width: 80%;
	margin: 25px auto;
	padding: 10px;
	background: white;
	border-radius: 10px;
	box-shadow: 10px 10px 10px green;
}
.nav{
	display: flex ;
	align-items: center;
	justify-content: space-around;
}
.nav a{
	color: black;
	font-size:1.5em ;
	font-family: "Dancing Script", cursive;
  	font-weight: <weight>;
  	font-style: normal;
  	text-transform: uppercase;
  	margin:20px;
  	transition: .4s;
}
.nav a:hover{
	color: darkcyan;
	font-weight: 700;
	text-shadow: 3px 3px 3px red;
	transform: translateY(-5px);
}
.nav a:active{
	color: white;
	background: grey;
	border-radius: 20%;
}
.main{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.categories{
	width: 15%;
}
.shop-intems{
	width: 80%;
}
.card{
	width: 200px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.card img{
	width: 100%;
}